* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  background-color: #f8f8f8;
}

main {
  max-width: 1020px;
  margin: 2vh auto 0 auto;
}

.white-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.white-panel div.panel-heading {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  padding: 10px 15px;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.white-panel div.panel-body {
  padding: 15px 0 15px 0;
}

.white-panel div.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

img.img-fluid {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-left: auto;
  margin-right: auto;
}

button,
button:focus,
button::-moz-focus-inner {
  outline: none;
  border: 0;
}

input[type="number"] {
  max-width: 50px;
  border-radius: 3px;
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc;
  padding: 4px 0 3px 6px;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset;
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.075) inset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BhrHeaderFont, Trebuchet MS;
}

main {
  min-height: 80vh;
  /* stretch main element untill we have something to fill it with */
}

header {
  background-color: #3b455e;
  padding: 5px 0px 5px 0px;
}

header h1 {
  max-width: 1020px;
  padding: 2px 10px 0px 10px;
  margin: 0px auto 0px auto;
  font-size: 23px;
  font-weight: 600;
  color: white;
}

header nav {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 10px 4px 10px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 6px;
  font-size: 16px;
}

header nav ul li:hover,
header nav a.active {
  text-decoration: underline;
}

header nav ul li:hover,
header nav a,
header nav a:hover {
  color: white;
}

footer {
  text-align: center;
  color: white;
  padding: 15px;
  margin-top: 1px;
  background-color: #516556;
}

footer a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

footer a:hover {
  color: lightgray;
}

footer p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

footer p + p {
  margin-top: 0px;
}

section.product-panel .product-card {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "productDescriptionArea" "productInteractionArea";
  -ms-grid-rows: auto min-content;
      grid-template-rows: auto -webkit-min-content;
      grid-template-rows: auto min-content;
  width: 30%;
  padding: 10px;
  margin-top: 1vw;
  border: 1px solid #ddd;
  border-radius: 4px;
}

section.product-panel .product-card div.product-description-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: productDescriptionArea;
}

section.product-panel .product-card div.product-interaction-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: productInteractionArea;
}

section.product-panel .product-card.in-basket {
  border: 1px solid green;
}

section.product-panel .product-card img.product-cover {
  max-height: 150px;
}

section.product-panel .product-card h4.product-name {
  margin-top: 12px;
}

section.product-panel .product-card p.product-description {
  color: black;
}

section.product-panel .product-card p.product-price {
  font-weight: 700;
  font-size: 18px;
  text-align: right;
}

section.product-panel .product-card button {
  margin-left: 6px;
  padding: 4px 0 3px 6px;
  min-width: 100px;
}

section.product-panel .product-card button,
section.product-panel .product-card input {
  float: right;
}

div.shop-container section.shopping-cart .panel-heading #cart-item-count {
  background-color: #555;
  color: white;
  padding: 0 4px;
}

div.shop-container section.shopping-cart .cart-item:hover {
  background-color: whitesmoke;
}

div.shop-container section.shopping-cart .cart-item + .cart-item {
  border-top: 1px dashed lightgray;
}

div.shop-container section.shopping-cart .cart-item {
  position: relative;
  padding: 10px 15px;
}

div.shop-container section.shopping-cart .cart-item button.remove-cart-item {
  position: absolute;
  top: -15px;
  right: 0px;
  font-weight: bold;
  font-size: 26px;
  margin: 5px;
  background: 0 0;
  border: none;
  text-transform: none;
}

div.shop-container section.shopping-cart .cart-item button.remove-cart-item:hover {
  color: red;
}

div.shop-container section.shopping-cart .cart-empty-message {
  display: none;
  text-align: center;
  color: #999;
}

div.shop-container section.shopping-cart p.subtotal-label {
  font-weight: bold;
  font-size: 16px;
}

div.shop-container section.shopping-cart .shopping-cart-content-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

div.shop-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1vw;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
      grid-template-areas: "productContainer shoppingCart" "productContainer shoppingCart ";
}

div.shop-container section.product-panel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: productContainer;
}

div.shop-container section.product-panel div.panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

div.shop-container section.shopping-cart {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: shoppingCart;
}

section.order-confirmation {
  overflow: hidden;
  font-size: 16px;
}

section.order-confirmation .order-description {
  margin: 2rem 5vw;
  line-height: 1.4rem;
}

section.order-confirmation .order-description h2 {
  font-size: 1.2rem;
}

section.order-confirmation .order-description dl {
  max-width: 360px;
}

section.order-confirmation .order-description dt {
  font-weight: 600;
  float: left;
  clear: left;
  text-align: left;
}

section.order-confirmation .order-description dd {
  text-align: right;
}

section.order-confirmation table {
  margin: 2rem 5vw;
}

section.order-confirmation table .item-total {
  text-align: right;
}

section.order-confirmation table tr,
section.order-confirmation table td,
section.order-confirmation table th {
  width: 90vw;
  text-align: left;
}

section.order-confirmation table tr + tr {
  border-top: 1px dashed grey;
}

section.order-confirmation table td {
  height: 40px;
}

section.order-confirmation table td .product-cover-small {
  width: 30px;
  margin-right: 5px;
}

section.order-confirmation .address p {
  padding: 0;
  margin: 0;
}

section.order-confirmation button.confirm-order-button {
  float: right;
  margin: 0 5vw 2rem 5vw;
}

section.order-confirmation button.disabled {
  background-color: #6c757d;
  border: 0;
}
/*# sourceMappingURL=style.css.map */