div.shop-container section.shopping-cart {
  .shopping-cart-content-wrapper {
    position: sticky;
    top: 0;

    button[disabled] {
      background-color: #6c757d;
      background-color: #6c757d;
      border: 0;
    }

    .panel-heading #cart-item-count {
      background-color: #555;
      color: white;
      padding: 0 4px;
    }

    .cart-item {
      position: relative;
      padding: 10px 15px;

      button.remove-cart-item {
        position: absolute;
        top: -15px;
        right: 0px;
        font-weight: bold;
        font-size: 26px;
        margin: 5px;
        background: 0 0;
        border: none;
        text-transform: none;
      }

      button.remove-cart-item:hover {
        color: red;
      }

      .cart-item-summary {
        display: flex;
        align-items: center;
        .product-cover-small {
          height: 29.67px;
          margin-right: 5px;
          border-radius: 5px;
        }
        input{
          margin: 0 5px;
        }
        .item-stack-price {
          margin-left: 5px;
        }
      }
    }

    .cart-item:hover {
      background-color: whitesmoke;
    }

    .cart-item + .cart-item {
      border-top: 1px dashed lightgray;
    }

    .cart-empty-message {
      display: none;
      text-align: center;
      color: #999;
    }

    p.subtotal-label {
      font-weight: bold;
      font-size: 16px;
    }
  }
}
